$color-bg: #222020;
$color-text: #fff;
$color-cursor-circle: #3C3C3C;

// use base version for cursor dot + cursor progress & pagination, dark version for bg.

$color-red: #CE1141;
$color-red-dark: #790E29;

$color-purple: #542583;
$color-purple-dark: #3D1F5A;

$color-blue: #006BB6;
$color-blue-dark: #213256;

$color-green: #0A8B59;
$color-green-dark: #0A4231;
